/* Google Fonts */
:root {
    /* Colors */
    --primary: #C7F000;
    --primary-dark: #9DBD00;

    --black: #0B0B0B;
    --surface: #171717;
    --surface-light: #222222;

    --white: #FFFFFF;
    --text: #D7D7D7;
    --gray: #9A9A9A;

    --border: rgba(255, 255, 255, .08);

    --shadow: 0 10px 30px rgba(0, 0, 0, .35);

    /* Typography */
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Poppins", sans-serif;

    /* Layout */
    --container-width: 1500px;

    --transition: all .3s ease;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background: var(--black);
    color: var(--white);
}

img {
    width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

.container {
    width: min(90%, var(--container-width));
    margin: auto;
}

section {
    padding: 100px 0;
}